/**
 * Portfolio showcase
 */

.home {
	.lead {
		a {
			color: $brand-color;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.projects {

	.col {
		margin-bottom: 2rem;
	}

	.project-thumbnail {
		display: block;
		margin-bottom: 1rem;
		&:hover {
			-webkit-filter: brightness(103%);
			transition: -webkit-filter 0.1s ease-out, filter 0.1s ease-out;
		}		
	}

	.project-title {
		font: 1.25rem 'PT Serif', Georgia, serif;
		color: $title-color;
		letter-spacing: -0.01em;		

		h4 {
			margin-top: 0;
			margin-bottom: 0;
			&:hover {
				color: $brand-color;
			}
		}
	}
}