/**
 * Site header
 */
.site-header {
	padding: 4rem 0  2rem 0;
	@media (min-width: 544px) {
		padding: 7rem 0  2rem 0;
	}	

	// Positioning context for the mobile navigation icon
	position: relative;

	.logo {
		display: block;
		height: 32px;
		width: 115px;
		text-indent: -9999px;
		background: url('../img/logo-mav.svg') top left no-repeat;
	}
}



/**
 * Site footer
 */
.site-footer {
	padding: 2rem 0;
	font-size: $small-font-size;
	color: lighten($text-color, 25%);

	.email {
		color: lighten($text-color, 25%);
		text-decoration: none;
		&:hover {
			color:  $brand-color;
			text-decoration: underline;
		}	
	}
}



/**
 * Page content
 */
.site-content {
	
}

.section {
	padding: 1.5rem 0;
}

.page-heading {
	font-size: 20px;
}


/**
 * Portfolio items
 */
