.project-page {
	font-size: 1.25rem;
	h1 {
		font-size: 4rem;
		font-weight: 200;
		letter-spacing: -0.025em;

		.project-client {
			font-size: 2rem;
			font-weight: 500;
		}
	}
	img {
		margin-top: 3rem;

		& + small {
		 	display: block;
			margin-top: 1.5rem;
			margin-bottom: 3rem;
			text-align: center;
			font-size: $small-font-size;
			color: lighten($text-color, 10%);

			& + img {
				margin-top: 1rem;
			}
		}
	}
}